.container {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
}

img {
  height: 230px;
  margin-bottom: 20px;
}

.input-field {
  border-width: 1.3px;
  border-color: #140bb9;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
}

button {
  padding: 15px;
  background-color: #140bb9;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
