.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.label {
  font-family: 'Nunito', sans-serif;
}

.body {
  margin: 4% 10%;
}

#notification-content, #link-url {
  border-width: 2px;
  border-color: #140bb9;
  padding: 10px;
  width: 98%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 0px;
  font-size: 16px;
}

#schedule-notification {
  border-width: 2px;
}

.send-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#send-to-text {
  margin-right: 15px;
}
button {
  position: relative;
}

.attachment {
  display: flex;
  align-items: center;
  padding-right: 45px;
}

#upload-button {
  width: 100%;
  border-radius: 30px;
  font-size: 14px;
  background-color: #a4a8cc;
}