.dropzone {
  height: 170px;
  width: 170px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.highlight {
  background-color: rgb(188, 185, 236);
}

.upload-icon {
  height: 60px;
  margin-bottom: 0;
}

.file-input {
  display: none;
}